*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Play', sans-serif;
    background-image: url("../images/backgroung.jpeg");
    background-size: 100%;
}
body{
    overflow-x: hidden;
}
/*tag styles*/
.items{
    font-size: 20px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.25s ease-out;
}
#item1 img{
    width: 50px;
}
.menu ul li a{
    /*display flex wrong need to be fixed hover effect*/
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 25px;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    transition: all 0.25s ease-out;
}
.boom .items{
    width: 100%;
    opacity: 100%;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 110px;
    background: #1d1c21;
    z-index: 2;
    border-radius: 8px;
    transition: all 0.25s ease-out;
    height: 100px;
    animation: 10s infinite ease-in-out cloud;
}
.boom{
    width: 175px;
    height: 420px;
}
.righthead:hover{
    scale: 1.15;
}
.profpic{
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 8px;
}

.profpicforpage{
    height: 300px;
    width: 300px;
    cursor: pointer;
    border-radius: 8px;
}

.righthead{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #1d1c21;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    transition: all 0.25s ease-out;
    cursor: pointer;
    animation: cloud 10s ease-in-out infinite;
}
main{
    display: flex;
}
/*images styles*/
.logo{
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 8px;
}
/*header class styles*/
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    transition: 0.35s;
}

.menu li:hover a span{
    scale: 1.15;
}