/*tag styles*/
main{
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
}
/*main class styles*/
.lower-block{
    height: 140px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.song-details{
    text-align: center;
    color: #fafafa;
    margin-bottom: 40px;
}
.wrapper-for-blocks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-bottom: 160px;
}
.block-period-music{
    z-index: 1;
    position: relative;
    top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(to top, #c471ed 0%, 25%,rgb(18, 18, 18) 100%);
    padding-bottom: 55px;
    transition: all 0.3s ease-in-out,
                transform 0.5s ease-in-out;
}
.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 20px;
    background: rgb(184, 172, 172);
    cursor: pointer;
}
.progress-area .progress-bar{
    height: 6px;
    width: 50%;
    border-radius: 20px;
    position: relative;
    background: #fafafa;
    /*background: linear-gradient(90deg, color 0%, color 100%);*/
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: white;
    opacity: 0;
    transition: opacity 0.25s linear;
}
.progress-area .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
}
.timer span{
    font-size: 14px;
    color: #fafafa;
}
.controls{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}
.controls i{
    height: 40px;
    width: 40px;
    padding-top: 8px;
    background: #fafafa;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    transition: scale 0.2s ease;
}
/*hovers*/
.material-icons:not(.arrow-down, .homeicon):hover{
    scale: 1.15;
}
.progress-area:hover .progress-bar{
    background-color: #fafafa;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
}
/*p styles*/
.top-music{
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: -45px;
    margin: 0;
}
.song-details .track-name{
    margin: 0;
    font-weight: 700;
    font-size: 29px;
}
.song-details .track-artist{
    opacity: 0.77;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}
/*audio styles*/

/*images styles*/
.gram-plast{
    margin: 25px 15px 15px 15px;
    width: 230px;
    height: 230px;
    animation: 5s infinite linear rotation;
}
/*/////*/
.button{
  z-index: 2;
  display: block;
  position: relative;
  top: 370px;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}
.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.button:after {
  border: 4px solid #c471ed;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}
.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
/**/
.block-period-music.left{
    position: absolute;
    opacity: 70%;
    scale: 0.75;
    cursor: pointer;
    transform: translateX(-550px);
}
.block-period-music.left:hover{
    opacity: 100%;
    scale: 0.85;
}
.button.left{
    position: absolute;
    transform: translateX(-220px);
}
.block-period-music.mid:hover{
    scale: 1.1;
}
.button.right{
    position: absolute;
    transform: translateX(220px) rotate(180deg);
}
.block-period-music.right{
    position: absolute;
    opacity: 70%;
    scale: 0.75;
    cursor: pointer;
    transform: translateX(550px);
}
.block-period-music.right:hover{
    opacity: 100%;
    scale: 0.85;
}
.block-period-music.left .lower-block, .block-period-music.right .lower-block{
    pointer-events: none;
}

.line {
    margin-top: 55px;
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    animation: line-anim 7s linear infinite;
}

.arrow-down{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  scale: 2.4;
  animation: animArrow 1s ease-in-out infinite;
}
.cards{
    padding: 100px;
    padding-bottom: 30px;
    display: flex;
    gap: 40px;
}
.card-block{
    width: 200px;
    height: 250px;
    background: linear-gradient(0deg, black 0%, black 35%, white 100%);
    border-radius: 20px;
    transition: 0.15s all linear;
}
.card-block:hover{
    scale: 1.1;
}