main{
    justify-content: center;
    align-items: flex-start;
}

.main-reg-font{
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-form{
    padding-top: 10px;
    margin: 50px;
    width: 400px;
    background: rgb(18, 18, 18);
    border-radius: 15px 15px 15px 15px;
}